# Data

For our purposes, we will be working with the [Video Game Sales Dataset](https://www.kaggle.com/gregorut/videogamesales).

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/muhammadhaseeb/.pyenv/versions/3.6.5/envs/global/lib/python3.6/site-packages
Requirement already satisfied: pytz>=2017.2 in /Users/muhammadhaseeb/.pyenv/versions/3.6.5/envs/global/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: numpy>=1.13.3 in /Users/muhammadhaseeb/.pyenv/versions/3.6.5/envs/global/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/muhammadhaseeb/.pyenv/versions/3.6.5/envs/global/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /Users/muhammadhaseeb/.pyenv/versions/3.6.5/envs/global/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas)
You are using pip version 9.0.3, however version 20.1.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import pandas as pd

Let's load data

In [3]:
df = pd.read_csv("vgsales.csv")

Let’s also relax the limit on the number of display columns:

In [4]:
pd.set_option('display.max_columns', None)

# Data Manipulation

Next, let’s print the columns in the data:

In [5]:
list(df.columns)

['Rank',
 'Name',
 'Platform',
 'Year',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales']

Let’s also print some basic information about the data

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

Now, let’s print the first five rows of data using the ‘head()’ method:

In [7]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Let’s select video games in the ‘sports’ genre:

In [8]:
df_sports = df.loc[df.Genre == 'Sports']
df_sports.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
77,78,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.11,6.06,0.06,1.26,8.49

Let’s select the subset of data corresponding video games for the Wii platform:

In [9]:
df_wii = df.loc[df.Platform == 'Wii']
df_wii.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62

Let’s select ‘Racing’ games played on ‘Wii’:

In [10]:
df_wii_racing = df_wii.loc[df.Genre == 'Racing']
df_wii_racing.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
1242,1244,Sonic & Sega All-Stars Racing,Wii,2010.0,Racing,Sega,0.65,0.71,0.00,0.15,1.51
1525,1527,Need for Speed Carbon,Wii,2006.0,Racing,Electronic Arts,0.46,0.66,0.02,0.15,1.29
1842,1844,Need for Speed: ProStreet,Wii,2007.0,Racing,Electronic Arts,0.54,0.46,0.00,0.12,1.11
2092,2094,Cars: Race-O-Rama,Wii,2009.0,Racing,THQ,0.61,0.30,0.00,0.09,0.99

Another way to do this in online with joint operation

In [11]:
df_wii_racing = df.loc[(df.Platform == 'Wii') & (df.Genre == 'Racing')]
df_wii_racing.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
1242,1244,Sonic & Sega All-Stars Racing,Wii,2010.0,Racing,Sega,0.65,0.71,0.00,0.15,1.51
1525,1527,Need for Speed Carbon,Wii,2006.0,Racing,Electronic Arts,0.46,0.66,0.02,0.15,1.29
1842,1844,Need for Speed: ProStreet,Wii,2007.0,Racing,Electronic Arts,0.54,0.46,0.00,0.12,1.11
2092,2094,Cars: Race-O-Rama,Wii,2009.0,Racing,THQ,0.61,0.30,0.00,0.09,0.99

Let’s select Wii racing games that sold more than 1 million units globally

In [12]:
df_gt_1mil = df.loc[(df.Platform == 'Wii') & (df.Genre == 'Racing') & (df.Global_Sales >= 1.0)]
df_gt_1mil.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
1242,1244,Sonic & Sega All-Stars Racing,Wii,2010.0,Racing,Sega,0.65,0.71,0.00,0.15,1.51
1525,1527,Need for Speed Carbon,Wii,2006.0,Racing,Electronic Arts,0.46,0.66,0.02,0.15,1.29
1842,1844,Need for Speed: ProStreet,Wii,2007.0,Racing,Electronic Arts,0.54,0.46,0.00,0.12,1.11

We can also select data by row using the ‘.iloc[]’ method. Let’s select the first 1000 rows of the original data:

In [13]:
df_filter_rows = df.iloc[:1000]
print("Length of original: ", len(df))
print("Length of filtered: ", len(df_filter_rows))

Length of original:  16598
Length of filtered:  1000

We can also select a random sample of data, using the ‘sample()’ method:

In [16]:
df_random_sample = df.sample(n=5000)
print("Length of sample: ", len(df_random_sample))

Length of sample:  5000

In [17]:
df_random_sample.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9347,9349,Winter Stars,Wii,2011.0,Sports,Deep Silver,0.06,0.07,0.0,0.01,0.13
11905,11907,Pac-Man and the Ghostly Adventures 2,WiiU,2014.0,Adventure,Namco Bandai Games,0.05,0.02,0.0,0.01,0.07
16256,16259,Conflict: Denied Ops,PC,2008.0,Shooter,Eidos Interactive,0.00,0.01,0.0,0.00,0.01
7468,7470,NHL 2K3,PS2,2002.0,Sports,Sega,0.10,0.08,0.0,0.03,0.21
13251,13253,Silhouette Mirage,PS,1998.0,Platform,ESP,0.03,0.02,0.0,0.00,0.05

# Conclusion

In this notebook we discussed how to select and filter data using the Python Pandas library. We discussed how to use the ‘.loc[]’ method to select subsets of data based on column values. We also showed how to filter data frames by row using the ‘.iloc[]’ method. Finally, we discussed how to select a random sample of data from a data frame using the ‘sample()’ method.